body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: #d3d3d3;
  overflow: hidden;
  height: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
}
canvas {
  width: 100%; 
  height: 100%;
}
